@media screen and (max-width: 642px) {
  .wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }

  /****************** header **********************/
  header .mobile {
    display: block;
    justify-content: space-between;
  }
  header {
    background-color: #ffffff;
    padding: 10px 0;
  }
  /* header nav {
    display: none;
  } */
  header.active {
    background: #222;
    display: block;
  }
  header .wrapper>img {
    display: none;
  }
  header nav{
    left: 0;
    position: absolute;
    width: 100%;
    top: 100%;
  }
  header nav ul {
      height: 0;
      overflow: hidden;
      background: white;
      transition: all 1s ease;
    }
  header nav ul.open {
      height: 266px;
      display: block;
    }
  header nav ul li {
    float: none;
    display: block;
    margin: 0;
  }
  header nav ul li a {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: block;
    padding: 10px 0px;
    padding-left: 15px;
  }
  header nav ul li:last-child {
    display: none;
  }
  header .mobile .contain img {
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
  }
  header .mobile .contain i {
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    color: #222222;
  }
  header .mobile .blocks {
    justify-content: flex-end;
  }
  header .mobile .blocks button {
    padding: 9px 10px;
    border: 1px solid #222222;
    text-align: center;
    background-color: transparent;
    margin-right: 9px;
  }

  header .mobile button span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #222222;
    margin-bottom: 4px;
  }
    header .mobile button span:last-child {
      margin: 0;
    }


    /************************* banner ****************/
  .banner .wrapper  {
    margin-left: 0;
    margin-right: 0;
  }
  .banner .wrapper .inner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .banner .wrapper .inner h2 {
    font-size: 30px;
  }
  .banner .inner p {
    font-size: 18px;
  }
  .banner .features a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .banner .features .content h2 {
    font-size: 18px;
  }
  .banner .features .content h2 span {
    font-size: 14px;
  }
  .banner .features a {
    padding: 15px 10px;
  }

  /***************** popular-courses *************/
  .popular-courses {
    padding: 35px 0 35px 0;
  }
  .popular-courses .post-slider {
    flex-flow: column;
    justify-content: center;
  }
  .popular-courses .post-slider .course {
    margin: 0px;
    width: 100%;
  }
  .popular-courses .post-slider .course:first-child {
    /* margin-left: 0; */
  }

  .popular-courses .arrow {
    display: none;
  }
  .popular-courses .heading {
    display: flex;
  }
  .popular-courses .wrapper .heading>h2 {
    font-size: 22px;
  }

  /**************** statistics ********************/
  .statistics .all-inner {
    background-position: right;
  }
  .statistics .wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .statistics .all-inner .wrapper .inner {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    width: 200px;
  }
  .statistics .wrapper .inner:first-child {
    padding-top: 35px;
  }
  .statistics .wrapper .inner .figure {
    text-align: center;
  }
  .statistics .all-inner .inner .figure .number:after {
    left: 50%;
    transform:translateX(-50%);

  }
  /************* events **********************/
  .events {
    padding: 45px 0 24px 0;
  }
  .events .align {
    padding-bottom: 11px;
    margin-bottom: 40px;
    display: block;
    position: relative;
  }
  .events .align:after {
    content: "";
    width: 39px;
    height: 1px;
    background-color: #ffc000;
    top: auto;
    bottom: 0;
    right: auto;
    left: 0px;
  }
  .events .align .heading:after {
    display: none;
  }
  .events .wrapper ul li .image  {
    float: none;
    display: flex;
    justify-content: center;
  }
  .events .wrapper ul li .time  {
    float: none;
  }
  .events .wrapper ul li .register  {
    float: none;
  }
  .events .align .heading h2 {
    font-size: 22px;
  }
  .events .align .heading>p {
    font-size: 14px;
  }
  .events .align .heading {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .events ul li .time .date {
    font-size: 40px;
  }
  .events ul li .time .day {
    font-size: 20px;
  }
  .events ul li .register h5 {
    font-size: 16px;
  }
  .events ul li .register p {
    font-size: 14px;
  }
  .events ul li .image {
    margin-bottom: 15px;
  }
  /*************** search ******************/
  .search .form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /***************** services ******************/
  .services .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services .wrapper a {
    margin: 10px;
  }
  .services .wrapper a:nth-child(2n+1) {
    margin-right: 10px;
  }

  /********************* training ********/
  .training {
    padding: 35px 0 36px 0;
  }
  .training .wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .training .wrapper .sign-now {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .training .wrapper>img {
    float: none;
    margin-right: 0;
    margin-bottom: 13px;
  }
  .training .wrapper .coaching {
    float: none;
    max-width: 300px;
    text-align: center;
  }
  .training .coaching h4 {
    font-size: 21px;
  }
  .training .wrapper .timer {
    float: none;
    margin-top: 41px;
  }
  .training .sign-now p {
    margin-bottom: 15px;
  }
  /***************** people-say ***********/
  .people-say .say h3 {
    font-size: 22px;
  }
  .people-say .say p {
    font-size: 17px;
  }

  /*************** news ****************/
  .news .wrapper {
    padding: 35px 0 25px 0;
  }
  .news .header {
    margin-bottom: 10px;
  }
  .news .header h3 {
    font-size: 22px;
  }
  .news .block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .news .inner {
    border-radius: 4px;
  }
  .news .inner .texts h5 {
    font-size: 16px;
  }
  /**************** signup *****************/
  .signup .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup .wrapper .sign {
    max-width: 555px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .signup .wrapper .sign .heading {
    max-width: 282px;
  }
  .signup .email {
    width: 100%;
  }
  /**************** footer-top ****************/
  .footer-top .wrapper .height {
    float: none;
    margin: 0;
  }
  .footer-top .wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer-top .wrapper .inner a img {
    width: 129px;
    height: 24.63px;
  }
  .footer-top .wrapper .inner {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .footer-top .wrapper .height {
    max-width: 100%;
  }
  .footer-top .popular {
    display: none;
  }
  .footer-top .wrapper .inner p {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    margin-bottom: 23px;
  }
  .footer-top .inner a:last-child {
    padding: 7.5px 10.8px;
  }
  .footer-top .wrapper .height:last-child {
    display: block;
    margin-top: 30px;
  }
  .footer-bottom  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .footer-bottom  .wrapper .social-media {
      display: block;
    }
  .footer-bottom  .wrapper .social-media li {
    float: none;
    display: inline-block;
  }
}
