* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1142px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.cf:after {
  content:'';
  display: table;
  clear: both;
}

/*********************** header ******************/
header {
  position: fixed;
  width: 100%;
  padding: 20px 0 25px 0;
  z-index: 9999;
}
header.active {
  background: #222;
}
header img {
  display: inline-block;
  margin-top: 11px;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 27px;
  float: left;
}
header nav ul li a {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
header nav ul li a:hover {
  transition: .4s ease;
  color: #34c7dc;
}
header nav ul .dropdown {
    position: relative;
    display: inline-block;
}

header nav ul .dropdown-content {
  border-top: 3px solid #ffc000;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 20px;
}

header nav ul .dropdown-content a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #777777;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header nav ul .dropdown-content a:hover {
  background-color: #ffc000;
  color: #fff;
}

header nav ul .dropdown:hover .dropdown-content {
  display: block;
  transition: 1s;
}
.search-wrap{
  position: relative;
  width:75%;
}
#searchIcon {
  font-size: ;
  position: absolute;
  top: 0px;
}
#searchIcon.hide{
  display:none;
}
#search {
  color: rgb(255, 255, 255);
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 10px;
  width: 0%;
  font-size: 14px;
  display: inline-block;
  cursor: text;
  visibility: hidden;
  transition: 0.8s;
  display: none;
}
#search.visible{
  width:200px;
  visibility: visible;
  display: block;
}
#clear {
  width: 5%;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 22px;
  opacity:0;
  transition:1.8s;
}
#clear.visible{
  opacity:1;
}
#clear:hover {
  cursor: pointer;
}
header .mobile {
  display: none;
}

/************************** banner *******************/
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1 )), url('../img/gentleman.jpg');
  background-size: cover;
  color: white;
  background-position: center top;
}
.banner .wrapper .inner{
  max-width: 562px;
  padding-top: 151px;
  padding-left: 15px;
  padding-right: 15px;
}
.banner .wrapper .inner h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 13px;
  /* margin-top: 58px; */
}
.banner .wrapper .inner p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.banner .wrapper .inner .button {
  margin-top: 32px;
}
.banner .wrapper .inner .button .our-courses {
  display: inline-block;
  min-width: 143px;
  min-height:  50px;
  text-align: center;
  padding: 13px 12px;
  border: 2px solid #ffc000;
  background-color: #ffc000;
  margin-right: 11px;
  text-decoration: none;
  margin-bottom: 5px;
}
.banner .wrapper .inner .button .our-courses span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.banner .wrapper .inner .button .our-courses span:after {
  content: '\00bb';
  font-family: arial;
  font-size: 22px;
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -20px;
  transition: 0.5s;
}
.banner .wrapper .inner .button .our-courses:hover {
  transition: .4s ease;
  background-color: #CC9A00;
  border-color: #CC9A00;
}
.banner .wrapper .inner .button .our-courses:hover span {
  padding-right: 20px;
}
.banner .wrapper .inner .button .our-courses:hover span:after {
  opacity: 1;
  right: 0;
}
.banner .wrapper .inner .button .contact-us {
  display: inline-block;
  width: 143px;
  height: 50px;
  padding: 13px 12px;
  border: 2px solid #fff;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: -10px;
}
.banner .wrapper .inner .button .contact-us span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.banner .wrapper .inner .button .contact-us span:after {
  content: '\00bb';
  font-family: arial;
  font-size: 22px;
  position: absolute;
  opacity: 0;
  top: -5px;
  right: -20px;
  transition: 0.5s;
}
.banner .wrapper .inner .button .contact-us:hover {
  transition: .4s ease;
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}
.banner .wrapper .inner .button .contact-us:hover span {
  padding-right: 20px;
}
.banner .wrapper .inner .button .contact-us:hover span:after {
  opacity: 1;
  right: 0;
}
.banner .button .our-courses {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.banner .button .contact-us {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}
.banner .features a {
  background-color: #ffc000;
  width: 33.3%;
  float: left;
  justify-content: center;
  color: #ffffff;
  padding: 34px 36px;
}
.banner .features a:nth-child(2) {
  background-color: #f5b800;
}
.banner .features a:last-child {
  background-color: #ebb100;
}
.banner .features a h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.banner .features .image {
  margin-right: 20px;
}
.banner .features .turn1:hover .image img {
  transform: rotateY(540deg);
  transition: all 0.4s linear;
}
.banner .features .turn2:hover .image img {
  transform: rotateY(540deg);
  transition: all 0.4s linear;
}
.banner .features .turn3:hover .image img {
  transform: rotateY(540deg);
  transition: all 0.4s linear;
}
.banner .features .content {
  display: block;
}
.banner .features .content h2 span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.banner .features .turn1:hover .content h2 span {
  position: relative;
  padding-left: 5px;
  transition: all 0.4s linear;
}
.banner .features .turn2:hover .content h2 span {
  position: relative;
  padding-left: 5px;
  transition: all 0.4s linear;
}
.banner .features .turn3:hover .content h2 span {
  position: relative;
  padding-left: 5px;
  transition: all 0.4s linear;
}
.banner .features {
  margin-top: 68px;
}

/******************* popular-courses ***************************/

.popular-courses {
  padding: 94px 0 60px 0;
  margin-bottom: 100px;
}
.popular-courses .wrapper .heading>h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #222222;
  line-height: 1.1;
}
.popular-courses .wrapper .heading .arrow .right-slider {
  float: left;
}
.popular-courses .wrapper .heading .arrow .right-slider a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;`
  font-size: 22px;
  width: 34px;
  height: 34px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #777777;
  background-color: transparent;
  margin-left: 7px;
}
.popular-courses .wrapper .heading .arrow .right-slider a:hover {
  background-color: #34C7DC;
  color: #fff;
  transition: .4s ease;
  font-size: 23px;
}
.popular-courses .wrapper {
  overflow: hidden;
}
.popular-courses .post-slider {
  padding-top: 36px;
  /* width: 2036px; */
  overflow: hidden;
}
.popular-courses .post-slider .course {
  width: 263px;
  height: 100%;
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: inset 0 0 0 1px #e8e8e8;
}
.popular-courses .post-slider .course:first-child {
  margin-left: 0;
}
.popular-courses .post-slider .course:hover {
  transition: .4s ease;
  box-shadow: inset 0 0 0 1px #34C7DC;
}
.popular-courses .post-slider .course:last-child {
  margin-right: 0;
}
.popular-courses .post-slider .course .alignment {
  padding: 0 20px;
}
.popular-courses .post-slider .course .bg-img {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.popular-courses .post-slider .course .bg-img:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 192, 0, 0.6);
  z-index: 129;
  height: 100%;
  transform: translateY(-100%);
  transition: 0.25s all ease;
}
.popular-courses .post-slider .course:hover .bg-img:after {
  transform: translateY(0);
}
.popular-courses .post-slider .course .bg-img img {
  display: block;
}
.popular-courses .post-slider .course .texts .alignment p {
  line-height: 1.85714;
}
.popular-courses .post-slider .course .texts .alignment p span {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 13px;
  border-radius: 2px;
  background-color: #34c7dc;
  color: white;
  padding: 3px 9px;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
}
.popular-courses .post-slider .course .texts .alignment p .green{
  background-color: #28CA6C;
}
.popular-courses .post-slider .course .texts .alignment h3 {
  line-height: 1.29412;
  display: block;
  margin-bottom: 7px;

}
.popular-courses .post-slider .course .texts .alignment h3 a {
  display: block;
  width: 223px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
}
.popular-courses .post-slider .course .texts .alignment h3 a:hover {
  transition: .4s ease;
  color: #FFC000;
}
.popular-courses .post-slider .course .texts .alignment a img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 7px;
  display: block;
  float: left;
}
.popular-courses .post-slider .course .texts .alignment>a {
  margin-bottom: 24px;
  justify-content: flex-start;
}
.popular-courses .post-slider .course .texts .alignment a p {
  color: #777777;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.popular-courses .post-slider .course .texts .alignment a p:hover {
  transition: .4s ease;
  color: #ffc000;
}
.popular-courses .post-slider .course .texts .views {
  padding: 19px 20px 21px;
  box-shadow: inset 0 1px 0 #e8e8e8;
  border-radius: 1px;
  color: #777777;
}
.popular-courses .post-slider .course .public .users i{
  font-size: 15px;
  margin-right: 1px;
  font-weight: 900;
  color: #777777;
}
.popular-courses .post-slider .course .public .users i:nth-child(3){
  margin-left: 10px;
}
.popular-courses .post-slider .course .public .users i:hover {
  transition: .4s ease;
  color: #34c7dc;
}
.popular-courses .post-slider .course .public .users a:hover {
  transition: .4s ease;
  color: #34c7dc;
}
.popular-courses .post-slider .course .public .users a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #777777;


}
.popular-courses .post-slider .course .texts .views .ratings i{
  float: right;
  color: #ffc000;
  font-size: 11px;
  margin: 0 1px;
}
.popular-courses .center {
  width: 1142px;
  height: 100%;
  overflow: auto;
}
.popular-courses .internal {
  width: 40%;
  height: 100%;
}
.popular-courses .wrapper .mobile-btn {
  display: none;
}


/***************** statistics ***********************/

.statistics .all-inner {
  /* height: 280px; */
  width: auto;
  vertical-align: middle;
  align-items: center;
  /* background-image: url(../img/computer-cookies-desk-933154.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )), url('../img/computer-cookies-desk-933154.jpg');
  background-size: cover;
  display: block;
}
.statistics .all-inner .inner .figure {
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
}
.statistics .all-inner .inner .figure .number {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 18px;
  position: relative;
}
.statistics .all-inner .inner .figure .number:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color:  #ffc000;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0px;
}
.statistics .all-inner .inner .figure .description {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
.statistics .inner {
  width: 25%;
  padding-top: 35px;
  padding-bottom: 41px;
  padding-right: 30px;
  color: #ffffff;
  margin: 56px 0;
  display: block;
}
.statistics .inner:last-child {
    padding-right: 0;
}

/******************** events **********************/
.events {
  padding-top: 80px;
  padding-bottom: 55px;
}
.events .align {
  margin-bottom: 28px;
}
.events .align .heading {
  position: relative;
  padding-bottom: 11px;
  margin-bottom: 40px;
  float: left;
}
.events .align .heading h2 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
  line-height: 1.1;
  color: #222222;
}
.events .align .heading>p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  display: block;
  line-height: 2;
  position: relative;
}
.events .align .heading:after {
  position: absolute;
  content: "";
  width: 39px;
  height: 1px;
  background-color: #ffc000;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0px;
}
.events .align a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 7px 12px;
  border: 2px solid #E8E8E8;
  line-height: 1.85714;
  color: #222222;
  background-color: #fff;
  float: right;
}
.events .align a:hover {
  background-color: #FFC000;
  border-color: #FFC000;
  color: #fff;
}
.events ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events ul li {
  margin-bottom: 30px;
  overflow: hidden;
  padding-top: 40px;
  border-top: 1px solid #e8e8e8;
}
.events ul li:first-child {
  padding-top: 0;
  border-top: 0;
}
.events ul li .time {
  max-width: 150px;
  margin-right: 73px;
  display: inline-block;
  float: left;
}
.events ul li .time .date {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #ffc000;
  letter-spacing: -0.6px;
  line-height: 1;
}
.events ul li .time .month {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px;
  letter-spacing: -0.6px;
  color: #777777;
  line-height: 1;
}
.events ul li .time .day {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 3px;
  letter-spacing: -0.6px;
  color: #777777;
  line-height: 1;
  padding-top: 6px;
  display: block;
}
.events ul li .register {
  float: left;
  padding-top: 7px;
}
.events ul li .register h5 {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 8px;
}
.events ul li .register h5 a {
  color: #222222;
}
.events ul li .register h5 a:hover {
  transition: .4s ease;
  color: #FFC000;
}
.events ul li .register p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 12px;
}
.events ul li .register>a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  min-width: 107px;
  border: 2px solid #e8e8e8;
  padding: 7px 24.76px;
  line-height: 1.85714;
  display: inline-block;
}
.events ul li .register>a:hover {
  transition: .4s ease;
  background-color: #FFC000;
  border-color: #FFC010;
  color: #fff;
}
.events ul li .image {
  float: right;
}

/********************** search *******************/
.search {
  background-color: #d6d3cb;
}
.search .wrapper{
  padding: 66px 0px 70px 0px;
}
.search .wrapper .heading {
  text-align: center;
}
.search h2 {
  font-family:  'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}
.search .form select {
  width: 320px;
  height: 52px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 13px 13px 13px 8px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search .form .selected {
  position: relative;
  z-index: 99;
}
.search .form .selected:after {
  content: "";
  border: solid #999999;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateX(-50%);
  margin-top: -2px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 45%;
  bottom: auto;
  left: 92%;
  right: auto;
  z-index: 299;
}
.search .form button {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  margin-left: 8px;
  width: 157px;
  height: 52px;
  padding: 7px 12px;
  border: 2px solid #ffc000;
  background-color: #ffc000;
}
.search .form button:hover {
  transition: .4s ease;
  background-color: #CC9A00;
  border-color: #CC9A10;
}

/**************** services ********************/
.services {
  padding: 100px 0 100px 00;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8 )), url('../img/pen-writing-notes-studying.jpg');
  background-size: cover;
}
.services a {
  display: block;
  border-radius: 5px;
  width: 173px;
  height: 165px;
  background-color: rgba(153, 146, 146, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
}
.services a:hover {
  transition: .4s ease;
  border-color: #FFC000;
}
.services p {
  font-family:  'Lato', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.services a .align img {
  margin-bottom: 22px;
}
.services a .align {
  text-align: center;
}
.services .round1:hover .align img {
  transform: rotateY(360deg);
  transition: all 0.4s linear;
}
.services .round1:hover .align p {
  font-size: 17px;
}
.services .round2:hover .align img {
  transform: rotateY(360deg);
  transition: all 0.4s linear;
}
.services .round2:hover .align p {
  font-size: 17px;
}
.services .round3:hover .align img {
  transform: rotateY(360deg);
  transition: all 0.4s linear;
}
.services .round3:hover .align p {
  font-size: 17px;
}
.services .round4:hover .align img {
  transform: rotateY(360deg);
  transition: all 0.4s linear;
}
.services .round4:hover .align p {
  font-size: 17px;
}
.services .round5:hover .align img {
  transform: rotateY(360deg);
  transition: all 0.4s linear;
}
.services .round5:hover .align p {
  font-size: 17px;
}
.services .round6:hover .align img {
  transform: rotateY(360deg);
  transition: all 0.4s linear;
}
.services .round6:hover .align p {
  font-size: 17px;
}

/*********************** training *********************/
.training {
  padding: 100px 0px 101px;
}
.training img {
  display: block;
  border-radius: 5px;
  margin-right: 29px;
  margin-bottom: 30px;
  float: left;
}
.training .coaching {
  padding-top: 9px;
  max-width: 466px;
  float: left;
}
.training .coaching h4 {
  font-family:  'Lato', sans-serif;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-bottom: 14px;
}
.training .coaching h4 span {
  font-weight: 300;
}
.training .coaching p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  display: block;
  margin-bottom: 19px;
  line-height: 1.71429;
}
.training .coaching a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  display: inline-block;
  padding: 9.5px 25.89px;
  border-style: solid;
  border-color: #E8E8E8;
  border-width: 2px;
}
.training .coaching a:hover {
  transition: .4s ease;
  background-color: #ffc000;
  color: #fff;
  border-color: #ffc010;
}
.training .timer {
  max-width: 347px;
  height: 160px;
  float: right;
}
.training .timer p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  text-align: center;
  margin-bottom: 25px;
}
.training .timer .flex .days p {
  font-size: 14px;
  margin-top: 4px;
}
.training .timer .days span {
  padding: 13px 13px;
  background-image: url(../img/timer-placeholder.jpg);
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 44px;
  background-position: center;
  border-radius: 4px;
  display: block;
  color: #ffffff;
  margin-top: 7px;
}
.training .sign-now p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
.training .sign-now a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 12.5px 34.7px;
  background-color: #FFC000;
  border-width: 2px;
  border-style: solid;
  border-color: #FFC000;
  color: white;
  margin-left: 15px;
  margin-right: 15px;

}
.training .sign-now a:hover {
  transition: .4s ease;
  background-color: #CC9A00;
  border-color: #CC9A10;
}
.training .sign-now {
  justify-content: center;
  padding: 19px 0 21px 0;
  margin-top: 27px;
  background-color: #F6F6F6;
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
}

/****************** people say ********************/
.people-say {
  background-image: url(../img/bg-pattern01.png);
  background-color: #000;
}
.people-say .say {
  padding: 92px 0 98px 0;
  text-align: center;
}
.people-say .say h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #d1cfcf;
  margin-bottom: 28px;
}
.people-say .say p {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 23px;
  color: #777777;
}
.people-say .say img {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 65px;
  margin-bottom: 12px;
}
.people-say .say p:last-child {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #d1cfcf;
}
.people-say .say p span {
  color: #777777;
}

/*********************** news **********************/
.news {
  background-color: #e8e5de;
}
.news .wrapper {
  padding-top: 91px;
  padding-bottom: 70px;
}
.news .header {
  padding-bottom: 12px;
  margin-bottom: 59px;
}
.news .header h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
  color: #222222;
}
.news .wrapper .header p {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #777777;
  margin-bottom: 13px;
}
.news .inner {
  box-shadow: inset 0 0 0 1px #aeaeae;
  width: 359px;
  height: 429px;232, 232, 232
  border-radius: 2px;
  margin-bottom: 30px;
  border-bottom: 2px solid transparent;
}
.news .inner:hover {
  transition: .4s ease;
  border-color: #FFC000;
  box-shadow: 0 1px 16px 1px #777;
}
.news .inner .texts {
  padding: 0 30px 0 30px;
}
.news .inner img {
  display: block;
}
.news .inner .texts {
  padding-top: 30px;
  padding-bottom: 20px;
}
.news .inner .texts h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
  margin-bottom: 13px;
}
.news .inner .texts h5:hover {
  transition: .4s ease;
  color: #FFC000;
}
.news .inner .texts p {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  display: block;
  margin-bottom: 16px;
}
.news .inner .texts p:last-child {
  font-weight: 600;
  font-size: 12px;
}
.news .inner .texts p:last-child span:hover {
  transition: .4s ease;
  color: #FFC000;
}

/**************** signup ********************/
.signup {
  background-color: #FFC000;
}
.signup .wrapper {
  padding: 25px 0px;
}
.signup .sign{
  width: 555px;
  height: 80px;
  justify-content: flex-start;
}
.signup .sign .envelope {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: #e6ad00;
  margin-right: 19px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  color: #ffffff;
}
.signup .sign .heading h6 {
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  line-height: 1.1;
}
.signup .sign .heading p {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  line-height: 1.85714;
  font-size: 14px;
  color: white;
}
.signup .email input {
  width: 401px;
  height: 52px;
  border: 0;
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-left: 12px;
}
.signup .email button {
  width: 100px;
  height: 52px;
  border: 0;
  margin: 0;
  margin-left: -4px;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: white;
  background-color: #222222;
  display: block;
}
.signup .email button:hover {
  transition: .4s ease;
  background-color: #494949;
}
.signup .wrapper {
  padding: 25px 0;
}

/******************* footer *******************/
.footer-top {
  background-color: #222222;
}
.footer-top .wrapper {
  padding: 79px 0px 27px 0px;
  background-color: #222222;
}
.footer-top .inner {
  max-width: 262.5px;
  margin-right: 30px;
}
.footer-top .inner a img {
  margin-top: 6px;
  margin-bottom: 13px;
}
.footer-top .inner p {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  margin-bottom: 23px;
  max-width: 262.5px;
  line-height: 1.71429;
}
.footer-top .inner a:last-child {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #777777;
  padding: 9.5px 20.8px;
  border-style: solid;
  border-width: 2px;
  border-color: #777777;
  display: inline-block;
}
.footer-top .inner a:last-child:hover {
  transition: .4s ease;
  background-color: #777777;
  color: #fff;
}
.footer-top .popular {
  max-width: 262.5px;
  margin-right: 30px;
}
.footer-top .main {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 29px;
  color: #777777;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.1);
}
.footer-top .popular ul {
  list-style: none;
}
.footer-top .popular ul li{
  width: 262.5px;
  height: 60px;
  margin-bottom: 30px;
}
.footer-top .popular ul li a {
  width: 100%;
}
.footer-top .popular ul li .shadow {
  position: relative;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.footer-top .popular ul li .shadow:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 192, 0, 0.6);
  z-index: 129;
  height: 100%;
  transform: translateY(-100%);
  transition: 0.25s all ease;
}
.footer-top .popular ul  li a:hover .shadow:after {
  transform: translateY(0);

}
.footer-top .popular ul li img {
  display: block;
}
.footer-top .popular ul li .writing {
  width: 182.5px;
}
.footer-top .popular ul li .writing p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 1.28571;
}
.footer-top .popular ul li:hover .writing p {
  transition: .4s ease;
  color: #34c7dc;
}
.footer-top .popular ul li .writing .blue {
  font-weight: 700;
  color: #34c7dc;
  line-height: 1.28571;
  margin-top: 4px;
}
.footer-top .popular ul li .writing .green {
  font-weight: 700;
  color: #3c763d;
  line-height: 1.28571;
}
.footer-top .links {
  width: 262.5px;
}
.footer-top .links h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #777777;
}
.footer-top .links ul li a {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777777
}
.footer-top .links ul li a:hover {
  transition: .4s ease;
  color: #fff;
}
.footer-top .links ul {
  margin: 0;
  padding: 0;
}
.footer-top .links ul li {
  margin-bottom: 10px;
  color: #777777;
  list-style-position: inside;
}
.footer-top .contact {
  max-width: 262px;
}
.footer-top .contact h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #777777;
}
.footer-top .contact>p {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78571;
  color: #777777;
  margin-bottom: 23px;
}
.footer-top .contact .awesome {
  margin-top: 12px;
}
.footer-top .contact .awesome i {
  color: #FFC000;
  font-size: 20px;
}
.footer-top .contact .q i{
  margin-top: -20px;
}
.footer-top .contact .awesome p {
  width: 92%;
  color: #777777;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin-left: 6px;
}
.footer-top .wrapper .height {
  float: left;
  margin-right: 30px;
}
.footer-top .wrapper .height:last-child {
  margin-right: 0;
}

.footer-bottom {
  padding: 31px 0;
  background-color: #222222;
  border-top: 1px solid rgba(208, 208, 208, 0.04);
}
.footer-bottom  .wrapper p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  display: inline-block;
}
.footer-bottom  .wrapper .social-media li {
  list-style: none;
  float: right;
}
.footer-bottom  .wrapper .social-media li i{
  color: #777777;
  font-size: 20px;
  margin-left: 7px;
}
.footer-bottom  .wrapper>a {
  position: absolute;
}
